<div class="user-list">
  <mat-toolbar>
    Usuários
    <span class="fill-remaining-space"></span>
    <button mat-button matTooltip="Usuário novo" matTooltipPosition="below" (click)="openSignUpModal()"
            *ngIf="user.isAdmin">
      <i class="fas fa-plus"></i>
    </button>
  </mat-toolbar>
  <div class="space"></div>
  <mat-accordion class="headers-align">
    <mat-expansion-panel *ngFor="let useroflist of userList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{useroflist.nome}}
        </mat-panel-title>
        <mat-panel-description>
          {{useroflist.email}}
          <mat-icon *ngIf="user.isAdmin && user.email !== useroflist.email" matTooltip="Excluir usuário" matTooltipPosition="below"
                    (click)="openDeleteModal(useroflist)">delete
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <strong>Telefone</strong>: {{useroflist.telefone}}
    </mat-expansion-panel>
  </mat-accordion>
</div>
