<div class="user-list">
  <mat-toolbar>
    Usuários
    <span class="fill-remaining-space"></span>
    <button mat-button matTooltip="Usuário novo" matTooltipPosition="below" (click)="openSignUpModal()" *ngIf="user.isAdmin">
      <i class="fas fa-plus"></i>
    </button>
  </mat-toolbar>
  <div class="space"></div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let useroflist of userList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
