.user-list {
  width: 900px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  .space {
    height: 20px;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.headers-align {
  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
}
