<div mat-dialog-content>
  <mat-toolbar><span>Cadastre-se</span></mat-toolbar><br>
  <mat-form-field>
    <input matInput placeholder="Nome" [formControl]="nomeControl" [(ngModel)]="user.nome">
    <mat-error *ngIf="nomeControl.invalid">{{getNomeErro()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" [formControl]="emailControl" [(ngModel)]="user.email">
    <mat-error *ngIf="emailControl.invalid">{{getEmailErro()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Telefone" [formControl]="telefoneControl" [(ngModel)]="user.telefone">
    <mat-error *ngIf="emailControl.invalid">{{getTelefoneErro()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Senha" type="password" [formControl]="senhaControl" [(ngModel)]="user.password">
    <mat-error *ngIf="emailControl.invalid">{{getSenhaErro()}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onRegister()">Cadastrar</button>
</div>
