@import '~@angular/material/prebuilt-themes/deeppurple-amber';

html, body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-size: cover;
  position: relative;
  padding: 0;
  overflow: auto;
}

